.color-selector{
    border: 4px ssolid black;
    padding: 20px;
    font-size: 18px;
    transition: opacity 2s ease-in;
    cursor: pointer;
    margin: 5px;
    border-radius: 10px;
}

.color-selector:hover{
    opacity: 0.8;
    padding: 22px;
}

#Green{
    background-color: green;
}

#Red{
    background-color: red;
}

#Blue{
    background-color: lightblue;
}

