* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: none;
    text-decoration: none;
}

a {
    font-style: none;
    text-decoration: none;
    color: #000;

}

body {
    color: white;
}


.container {
    background-color: rgba(40, 40, 40, 0.8);
    width: 960px;
    height: 113px;
    display: flex;
    margin: 10px;
    border-radius: 10px;
}

.image-side {
    position: relative;
    height: 100%;
    width: 200px;
}

.thumbnail-image {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.time-on-pic {
    padding: 2px;
    z-index: 1000;
    border-radius: 2px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
}


.text-side {
    padding: 10px;
    z-index: 1;
}

.video-name {
    font-weight: bold;
}

.metadata, .metadata * {
    color: rgb(179, 179, 179) !important;
    padding: 10px;
    font-size: 12px;
}

.channel-name {
    padding: 0;
}

.meta-data-stuff {
    display: inline;
    padding: 0;
}